<!DOCTYPE html>
<html>
<head>
<title>GT Team 006 Final Project </title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>

  <div class="jumbotron text-center">
    <h1><strong>Optidule</strong></h1>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-2">
        <!-- First Input: Dropdown for maxPrompt -->
        <div class="mb-3">
          <label for="maxPrompt" class="form-label">What is the MAXIMUM number of credit hours you are comfortable taking in one semester?</label>
          <select class="form-select" id="maxPrompt">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
          </select>
        </div>

        <!-- Second Input: Dropdown for minPrompt -->
        <div class="mb-3">
          <label for="minPrompt" class="form-label">What is the MINIMUM number of credit hours you are comfortable taking in one semester?:</label>
          <select class="form-select" id="minPrompt">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
          </select>
        </div>

        <!-- Third Input: Dropdown for summerPrompt -->
        <div class="mb-3">
          <label for="summerPrompt" class="form-label">Are you able to take summer courses?:</label>
          <select class="form-select" id="summerPrompt">
            <option value="yes">Yes</option>
            <!-- <option value="online">Yes, but only online</option>
            <option value="once">Yes, but only once</option>
            <option value="twice">Yes, but only twice</option>
            <option value="thrice">Yes, but only three times</option> -->
            <option value="no">No</option>
          </select>
        </div>
          <label for="yearPrompt" class="form-label">How many semesters do you want to take?</label>
          <select class="form-select" id="yearPrompt">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        <div class="mb-3">


        </div>

        <div class="mb-3", id="courseSelection">
          <label for="coursePrompt" class="form-label">Select your classes:</label>
          <select class="form-control" id="coursePrompt">
          <!-- FIRST CLASS LOADS ON DOM CONTENT -->
          </select>
          <div id="newCourseClick"></div>
        </div>

        <div class="mb-3">
          <button id="addSelect" class="btn btn-secondary">
            Add Class
          </button>
        </div>

        <div class="mb-3">
          <button id="optimize">Get Schedule</button>
        </div>
      
      </div>

      <div class="col-6">
        <table class="table", id="schedule">
          <thead>
            <tr>
              <th scope="col">Year</th>
              <th scope="col">Fall</th>
              <th scope="col">Spring</th>
              <th scope="col">Summer</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <tr>
              <!-- this is just the base -->
              <td>2024-2025</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Second Column -->
      <div class="col-4">
        <div id="bar-chart"></div>
        <p id="optimization_results">Opt results will be displayed here.</p>
      </div>
        
  </div>
</body>

<!-- jQuery for dynamic text boxes, Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script type="text/javascript">

  const classes_url = "../static/classes.json"

  // Loads in first course after DOM loads in
  d3.json(classes_url).then(function(data){

    classes = data;

    var courseBox = document.getElementById("coursePrompt")

    // Loops through courses to create dropdown
    for(var i = 0; i < classes.length; i++) {
      var course1 = document.createElement("option");
      course1.value = classes[i];
      course1.text = classes[i];
      courseBox.appendChild(course1);
    };

    // To limit to 8 courses inputted (to be changed)
    var courseCount = 2;
    var MAX_CLASSES = 8;

    // Function to dynamically add select box
    function addSelectionBox() {

      // Check if reached max
      if(courseCount >= MAX_CLASSES) {
        return;
      }

      // Increment counter
      courseCount++;

      // Create select element 
      var newCourse = document.createElement("select");

      // Set attributes
      newCourse.className = "form-control";

      for(var i = 0; i < classes.length; i++) {
        var course = document.createElement("option");
        course.value = classes[i];
        course.text = classes[i]; 
        newCourse.appendChild(course);
      }

      document.getElementById("newCourseClick").appendChild(newCourse);

    }

    // ADDING A NEW CLASS
    document.getElementById("addSelect")
            .addEventListener("click", addSelectionBox);

    //////////////////////////////////////////////
    
    // DUMMY CODE FOR PLOTLY
    // Takes in min/max hours as values, and plots them when button is pressed
    var minSelect = document.getElementById("minPrompt"); 
    var maxSelect = document.getElementById("maxPrompt"); 
    var seeDataBtn = document.getElementById("optimize"); 
    var barChartDiv = document.getElementById("bar-chart");

    // Initialize chart values 
    var minVal = 0;
    var maxVal = 0; 
    // When dropdowns change, update values 
    minSelect.addEventListener('change', function() { minVal = this.value; }); 
    maxSelect.addEventListener('change', function() { maxVal = this.value; }); 
    seeDataBtn.addEventListener('click', function() { 
        // Input data 
        var data2 = [{ 
            x: ['Min Credits', 'Max Credits'], 
            y: [minVal, maxVal], type: 'bar' 
        }]; 
        // Plotly layout
        var layout = { title: 'Credit Range' };
        // Display chart 
        Plotly.newPlot(barChartDiv, data2, layout); 
    }); 

    //////////////////////////////////////////////

    // TABLE DESIGN FOR SCHEDULE
    // dynamically change number of rows in table
    numSems = document.getElementById("yearPrompt");
    table_select = document.getElementById("schedule");
    summer_bool = document.getElementById("summerPrompt");
    body_select = document.getElementById("tableBody")

    numSems.addEventListener('change', function() {

      // console.log("testing")
      // delete all old rows
      old_rows = table_select.getElementsByTagName("tr")
      for (var i = 0, len = old_rows.length; i != len; ++i) {
        old_rows[0].parentNode.removeChild(old_rows[0]);
      }

      let year_list = ['2024-2025', '2025-2026', '2026-2027', '2027-2028', '2028-2029', '2029-2030', '2030-2031', '2031-2032']

      console.log(summer_bool.value)
      // check if summer or not
      if (summer_bool.value=="yes") {


        // create header
        var header = table_select.createTHead()
        var head_row = header.insertRow(0)

        var year = head_row.insertCell(0)
        year.innerHTML = "Year"
        var fall = head_row.insertCell(1)
        fall.innerHTML = "Fall"
        var spring = head_row.insertCell(2)
        spring.innerHTML = "Spring"
        var summer = head_row.insertCell(3)
        summer.innerHTML = "Summer"

        years_val = Math.ceil(this.value / 3);

        // create rest of table
        for (let i=0; i<years_val; i++) {

          // create new row
          var row = body_select.insertRow(-1);
          row.id = year_list[i]

          // create cells for the row
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);

          // insert data into the year column
          cell1.innerHTML = year_list[i]
        }

      } else {
        // create header
        var header = table_select.createTHead()
        var head_row = header.insertRow(0)

        var year = head_row.insertCell(0)
        year.innerHTML = "Year"
        var fall = head_row.insertCell(1)
        fall.innerHTML = "Fall"
        var spring = head_row.insertCell(2)
        spring.innerHTML = "Spring"

        years_val = Math.ceil(this.value / 2);

        // create rest of table
        for (let i=0; i<years_val; i++) {

          // create new row
          var row = body_select.insertRow(-1);
          row.id = year_list[i]

          // create cells for the row
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);

          // insert data into the year column
          cell1.innerHTML = year_list[i]
        }
        
      }

      // for (let i=0; i<this.value; i++) {
      //   // create new row
      //   var row = table_select.insertRow(-1);
      //   row.id = year_list[i]

      //   // create cells for the row
      //   var cell1 = row.insertCell(0);
      //   var fall = row.insertCell(1);
      //   var spring = row.insertCell(2);
      //   var summer = row.insertCell(3);

      //   // insert data into the year column
      //   cell1.innerHTML = year_list[i]
      // }
    });

    // get the courses from the selection into the schedule
    document.getElementById("optimize")
            .addEventListener("click", function() {
      // working on getting info from course selection
      course_div = document.getElementById("courseSelection")
      options = course_div.getElementsByTagName("select")

      data_cell = table_select.getElementsByTagName("td")

      // create string for classes
      current_str = ""

      // put first course into the string
      current_str = current_str.concat("", options[0].value)

      for (let i=0; i<options.length; i++) {
        console.log(options[i].value)
        // this is the course names

        if (i>0) {current_str = current_str.concat("<br>", options[i].value)}

        // course_list.push(options[i].value)
      }

      data_cell[1].innerHTML = current_str
    })

    
  });
  
  //////////////////////////////////////////////

  // OPTIMIZATION BACKEND - FLASK
  
    function optimize_from_html() {
        // for now, this is using years instead of semesters (dummy)
        var semesters = document.getElementById('yearPrompt').value;
        var minHours = document.getElementById('minPrompt').value;
        var maxHours = document.getElementById('maxPrompt').value;
        // console.log(selectedNumber);
        // Send the selected number to the server
        fetch('/run_optimization', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              'semesters' : semesters, 
              'minHours' : minHours, 
              'maxHours' : maxHours})
        })
        .then(response => response.json())
        .then(data => {
            // Update the result on the webpage
            document.getElementById('optimization_results').innerText = 'RESULTS:\n' + data.opt_log;
        })
        .catch(error => console.error('Error:', error));
    }
    document.getElementById('optimize').addEventListener('click', optimize_from_html);

</script>

<!-- </body> -->
</html>



<!-- <tr onclick="showHideRow('hidden_row1');">
              <th scope="row">2024-2025</th>
              <td>ISYE 6501 <br> test </td>
              <td>ISYE 6414</td>
              <td>CSE 6040</td>
            </tr>
            <tr>
              <th scope="row">2025-2026</th>
              <td>MGT 8803</td>
              <td>ISYE 6669</td>
              <td>CSE 6242</td>
            </tr>
            <tr>
              <th scope="row">2026-2027</th>
              <td>MGT 6203</td>
              <td>CS 7406</td>
              <td>Something else</td>
            </tr> -->