<!DOCTYPE html>
<html>
<head>
<title>GT Team 006 Final Project </title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>

  <div class="jumbotron text-center">
    <h1><strong>Optidule</strong></h1>
  </div>

  <div class="container">

    <div class="row" style="margin-left: 10px;">
      <p>Explanation about what we are doing</p>
    </div>

    <div class="card">
      <div class="card-header">
        <a data-toggle="collapse" href="#collapse-example" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="d-block text-black">
          Future Courses Selection
          <i class="fa-solid fa-chevron-down"></i>
        </a>
      </div>
      <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">

        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col">
                  <div class="mb-3" id="courseSelection">
                    <label for="coursePrompt" class="form-label">Select your classes:</label>
                    <input class="form-control" list="datalistOptions" id="coursePrompt" placeholder="Type to search...">
                    <!-- FIRST CLASS LOADS ON DOM CONTENT -->
                    <datalist id="datalistOptions"></datalist>
                    <div id="newCourseClick"></div>
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3" id="preReq">
                    <label for="prereqPrompt" class="form-label">Select your prerequisites:</label>
                    <input class="form-control" list="preOptions" id="prereqPrompt" placeholder="Enter prereqs...">
                    <!-- FIRST CLASS LOADS ON DOM CONTENT -->
                    <datalist id="preOptions"></datalist>
                    <div id="newPre"></div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <button id="addSelect" class="btn btn-secondary">
                  Add Class
                </button>


                <!-- Clear Classes Button -->
                <button id="clearClasses" class="btn btn-warning ml-2">
                  Clear
                </button>
              </div>

              <div class="mb-3">
                <button id="optimize">Get Schedule</button>
                <button id="pre_reqs">Fill Prereqs</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
    <div class="card-deck" id="margins">
      <div class="card cw-30">
        <div class="card-header">
          Scheduling Constraints
        </div>
        <div class="card-body">
          <div class="col">
            <div class="row">
              <!-- First Input: Dropdown for maxPrompt -->
              <label for="maxPrompt" class="form-label">Maximum number of credits:</label>
              <select class="form-select" id="maxPrompt">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6"selected>6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" >12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
              </select>
                  
            </div>

            <div class="row">
              <!-- Second Input: Dropdown for minPrompt -->
              <label for="minPrompt" class="form-label">Minimum number of credits:</label>
              <select class="form-select" id="minPrompt">
                <option value="2">2</option>
                <option value="3"selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
              </select>
            </div>

            <div class="row">
              <!-- Third Input: Dropdown for summerPrompt -->
              <label for="summerPrompt" class="form-label">Summer courses?:</label>
              <select class="form-select" id="summerPrompt">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select> 
            </div>
          </div>
        </div>
      </div>


      <!-- schedule table -->
      <div class="card">
        <div class="card-header">
          Schedule
        </div>
        <div class="card-body">
          <table class="table", id="schedule">
            <thead>
              <tr>
                <th scope="col" style="width: 20%;">Year</th>
                <th scope="col">Fall</th>
                <th scope="col">Spring</th>
                <th scope="col">Summer</th>
                <th scope="col">End of Year GPA</th>
              </tr>
            </thead>
            <tbody id="tableBody">
              <tr>
                <!-- base graph -->
                <td>2024-2025</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>


    <!-- FEYZ'S GRAPH GOES IN THIS!!!!!!! -->
    <div class="card">
      <div class="card-header">
        Interactive Graphs
      </div>
      <div class="card-body">
        <div id="interactiveLineChart"></div>
        <p id="Interactive_Graph">Interactive Graph will be displayed here.</p>
      </div>
    </div>
  </div>

</body>

<!-- <div id="tooltip" ></div> -->


<footer>
  <div class="text-center p-3" style="background-color: #a9995e;">
    See full code on <a class="text-dark" href="https://github.com/some-wallace/6242-final-project/" target="_blank"> <u>Github</u></a>.
    <br>
    Harrison Kwon, Monishka Sinha, Alexandra Pfleegor, Devanshu Tiwari, Henry Wallace, Feyzican Eser
  </div>
</footer>

<!-- jQuery for dynamic text boxes, Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://kit.fontawesome.com/2cf014cd27.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>

<script type="application/javascript" src="./../static/js/createTable.js"></script>
<script type="application/javascript" src="./../static/js/graph.js"></script>
<script type="application/javascript" src="./../static/js/optimize.js"></script>
<script type="application/javascript" src="./../static/js/run.js"></script>

</html>

